<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Modifier entreprise</title>
    </head>

    <header>
        {% include '00_Layout/header.html' %}
    </header>
<body>
    <section>
         <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <h3>Modifier l'entreprise : {{ entreprise.nom_ets }}</h3>
                        </br></br>
                        <img style="width: 300px;" src="{{ entreprise.logo_ets }}" class="img-fluid" alt="Phone image">
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <form action="/manage_entreprise/update_entreprise/{{ entreprise.id }}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom de l'entreprise</label>
                                <input type="text" class="form-control" name="name_ets" placeholder="Veuillez entrez le nom de l'entreprise" value="{{ entreprise.nom_ets }}" required>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Secteur</label>
                                <select class="custom-select" name="categorie_ets" required>
                                    {% for categorie in categorie_entreprise %}
                                        <option>{{ categorie.nom_categorie_ets }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Devise</label>
                                <select class="custom-select" name="devise" required>
                                    {% for my_devise in devise %}
                                        <option>{{ my_devise.nom_devise }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                </br>
                                <img style="width: 73px;" src="{{ entreprise.logo_ets }}" class="img-fluid">
                                <p>Image avant modification</p>
                            </div>

                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>

                    </div>
                </div>
         </div>
    </section>
</body>