<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
         role="button" data-mdb-ripple-color="dark">
          <ion-icon name="logo-facebook"></ion-icon>
      </a>

      <!-- Google
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
         role="button"
        data-mdb-ripple-color="dark">
          <ion-icon name="logo-google"></ion-icon>
      </a>-->

      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
         role="button"
         data-mdb-ripple-color="dark">
          <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Tout les droit réservé - DJAAGOU
  </div>
  <!-- Copyright -->
</footer>


<style>
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>