<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        {% load static %}
        {% include '00_Modal/update_table.html' %}
    </head>

    <header>
        {% include '00_Layout/header.html' %}
    </header>

    <body style="padding-left: 3%; padding-right: 3%">

        <div style="margin-top: 10%; background-color: #efefef; padding-bottom: 32%; margin-bottom: 5%">

            <div style="display: flex; background-color: #dedede">
                <div style="padding-left: 3%; padding-top: 3%; width:15%; display: block">
                    <label>Statut : </label>
                    <div class="form-group">
                        <select class="custom-select" id="select_statut">
                            <option value="" selected>Tout</option>
                            <option value="1">Disponible</option>
                            <option value="0">Indisponible</option>
                        </select>
                    </div>
                </div>

                <div style="padding-left: 3%; padding-top: 3%; width:15%; display: block">
                    <label>Nombre de places</label>
                    <div class="form-group">
                        <select class="custom-select" id="select_places">
                            <option value="" selected>Tout</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="padding-top: 5%; padding-left: 6%">
                {% for table in tables %}
                    <div class="card {{ table.statut_table }}" style="width: 20%; margin-right:4%; display: inline-block; margin-bottom: 3%;">
                        {% if table.statut_table == 1 %}
                            <img class="img-fluid rounded-start" src="{% static 'image/options/tables/tables_dispo.png' %}" class="img-fluid" style="width: 100%; height: 300px;">
                        {% else %}
                            <img class="img-fluid rounded-start" src="{% static 'image/options/tables/tables_indispo.png' %}" class="img-fluid" style="width: 100%; height: 300px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-text">Table {{ table.numero_table }}</h5>
                            <div style="display: flex">
                                <h5 class="card-text" id="table_nb_places" style="color: grey">{{ table.nb_places }}</h5><h5 class="card-text" style="color: grey; padding-left: 3%"> places</h5>
                            </div>

                            {% if table.statut_table == 1 %}
                                <h6 id="table_statut" style="color:green;">DISPONIBLE</h6>
                            {% else %}
                                <h6 id="table_statut" style="color:red;">INDISPONIBLE</h6>
                            {% endif %}
                            <a href="/modifier_table/{{ table.id_entreprise }}/{{ table.numero_table }}"><button style="width: 100%" type="button" class="btn btn-dark">Action</button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

    <footer>
        {% include '00_Layout/footer2.html' %}
    </footer>
</html>

<script>
    // Sélection des filtres
    var selectStatut = document.getElementById("select_statut");
    var selectPlaces = document.getElementById("select_places");

    // Ajout d'un événement "change" sur chaque filtre
    selectStatut.addEventListener("change", filtrerTables);
    selectPlaces.addEventListener("change", filtrerTables);

    function filtrerTables() {
        // Récupération des valeurs sélectionnées dans les filtres
        var statut = selectStatut.value;
        var places = selectPlaces.value;

        // Sélection de toutes les cartes de tables
        var cartesTables = document.getElementsByClassName("card");

        // Boucle sur toutes les cartes de tables pour les filtrer
        for (var i = 0; i < cartesTables.length; i++) {
            var carteTable = cartesTables[i];

            // Récupération du statut et du nombre de places de la table dans la carte
            var statutTable = carteTable.classList.contains("1") ? "1" : "0";
            var nbPlacesTable = carteTable.querySelector("#table_nb_places").textContent;

            // Filtrage en fonction des critères sélectionnés
            if ((statut == "" || statut == statutTable) && (places == "" || places == nbPlacesTable)) {
                carteTable.style.display = "inline-block";
            } else {
                carteTable.style.display = "none";
            }
        }
    }
</script>



