{% load static %}

</br>

<div class="container">
  <div class="item">
      <div id="#div_general_card2">
          <div id="my_card" class="card">
              <img id="card_img" class="card-img-top" src="{% static "image/qrcode.jpg" %}" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">QR CODE</h5>
                  <p class="card-text">Revolutionne ....</p>
              </div>
          </div>
      </div>
  </div>


  <div class="item">
      <div id="#div_general_card2">
          <div id="my_card" class="card">
              <img id="card_img" class="card-img-top" src="{% static "image/qrcode.jpg" %}" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">QR CODE</h5>
                  <p class="card-text">Revolutionne ....</p>
              </div>
          </div>
      </div>
  </div>


  <div class="item">
      <div id="#div_general_card2">
          <div id="my_card" class="card">
              <img id="card_img" class="card-img-top" src="{% static "image/qrcode.jpg" %}" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">QR CODE</h5>
                  <p class="card-text">Revolutionne ....</p>
              </div>
          </div>
      </div>
  </div>
</div>

<!--<div style="width: 350px">
<div id="my_card" class="card">
<img id="card_img" class="card-img-top" src="{% static "image/business card.jpg" %}" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">SMART BUSINESS CARD</h5>
<p class="card-text">Revolutionne ....</p>
</div>
</div>
</div>

<div style="width: 350px">
<div id="my_card" class="card">
<img id="card_img" class="card-img-top" src="{% static "image/plaque.jpeg" %}" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">PLAQUE</h5>
<p class="card-text">Revolutionne ....</p>
</div>
</div>
</div>-->
</br></br>

<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .item:hover {
        border: 1px solid #777;
    }

</style>
