<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <header>
        {% include '00_Layout/header.html' %}
    </header>
    <body style="background-color: rgba(239,239,239,0.84)">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100" class="container py-5 h-100">
                <!--<div class="col-md-8 col-lg-7 col-xl-6">
                    {% load static %} <img src="{%static "image/inscription.jpg" %}" class="img-fluid" alt="Phone image">
                </div>-->
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; margin-left: 5%; margin-right: 5%; margin-bottom: 5%; margin-top: 10%; background-color: white; padding : 3% 3% 3% 3%">
                <h3 style="text-align: center">Suppression</h3>
                    </br>
                    {% include '07_Message/messages.html' %}
                    <form method="POST"> {% csrf_token %}
                    <fieldset disabled>
                        <label class="form-label">Nom</label>
                        <input type="text" class="form-control" placeholder="{{ article.nom_article }}">

                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3" required>{{ article.description }}</textarea>

                        <label class="form-label">Categorie</label>
                        <input type="text" class="form-control" placeholder="{{ article.nom_categorie }}">


                        <label class="form-label">Prix</label>
                        <input type="text" class="form-control" placeholder="{{ article.prix }} €">

                        <label class="form-label">Image</label></br>
                        <img style="width: 73px;" src="{{ article.image_path }}" class="img-fluid">
                    </fieldset>

                    </br></br>
                </form>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_article">Supprimer</button>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal_delete_article" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form action="/manage_menu/masquer_article/{{ article_id }}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            <p>Voulez-vous vraiment supprimer : {{ article.nom_article }} ?</p>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Confirmer</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
    </body>
</html>

{% include '00_Layout/footer2b.html' %}