<form action="/ajouter_entreprise/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Nom de la l'entreprise</label>
        <input type="text" class="form-control" name="name_entreprise" placeholder="Veuillez entrez le nom de la catégorie" required>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Secteur</label>
        <select class="custom-select" name="categorie_entreprise" required>
            {% for categorie in categorie_entreprises %}
                <option>{{ categorie.nom_categorie_ets }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Devise</label>
        <select class="custom-select" name="devise" required>
            {% for my_devise in devise %}
                <option>{{ my_devise.nom_devise }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Nombre de places</label>
        <input type="number" class="form-control" name="nb_places" placeholder="Veuillez entrez le nombre de places" required>
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Logo</label>
        <input type="file" class="form-control-file" name="image_logo" multiple accept="image/png, image/jpeg, image/png, image/jpg" onchange="loadFile(event)" required>
        </br>
        <img id="output" width="150"/>
        </br>
    </div>


    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
