<!DOCTYPE html>
<html lang="fr">
{% load static %}
<link rel= "stylesheet" type= "text/css" href= "{% static 'style/display_BS.css' %}">
    <head>
        <meta charset="UTF-8">
        <title>Rejoignez-nous</title>
    </head>
    <body>

        <div class="header">
          <h1>Rejoignez-nous sur les réseaux sociaux !</h1>
          <p>Cliquez sur les liens</p>
        </div>

        <div>
        <h1></h1>
        </div>


            <div class="center" style="display: inline-block;">
                <a href="#"><img class="logo" src="{% static 'image/instagram.png' %}"></a>
            </div>

    <div class="center" style="display: inline-block;">
                <a href="#"><img class="logo" src="{% static 'image/facebook.png' %}"></a>
            </div>

    <div class="center" style="display: inline-block;">
                <a href="#"><img class="logo" src="{% static 'image/twitter.png' %}"></a>
            </div>

    <div class="center" style="display: inline-block;">
                <a href="#"><img class="logo" src="{% static 'image/youtube.jpg' %}"></a>
            </div>


    </body>
</html>