{% load static %}

<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="container">
                <div class="item">
                    <div class="gallery2">
                        <div class="desc" style="background-color: white">
                            <img style="width: 150px; height: 75px;" src="{% static "IMAGE_TO_UPLOAD/reseaux sociaux/facebook.png" %}">
                            <a href="facbook.com"><h3>Facebook</h3></a>
                            <p>
                                Très bon sits,  je vous le recommande
                            </p>
                            <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                            <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                            <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="carousel-item">
            <div class="container">
                <div class="item">
                    <div class="gallery2">
                        <div class="desc" style="background-color: white">
                            <img style="width: 150px; height: 75px;" src="{% static "IMAGE_TO_UPLOAD/reseaux sociaux/facebook.png" %}">
                            <a href="facbook.com"><h3>Facebook 2</h3></a>
                            <p>
                                Avis ici
                            </p>
                            <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                            <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                            <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>