{% load static %}

<div class="container">
  <div class="item">
      <div class="gallery2">
          <div class="desc" style="background-color: white">
              <img style="width: 150px; height: 75px;" src="{% static "IMAGE_TO_UPLOAD/reseaux sociaux/facebook.png" %}">
              <a href="facbook.com"><h3>Facebook</h3></a>
              <p>Très bonne école.
                  Accompagnement permanent tout au long du cursus aussi bien au niveau des cours que dans les relations avec les entreprises, et les différentes démarches qui en découlent.
                  Expérience professionnalisante car les intervenants partagent leurs connaissances du monde de l’entreprise. Enseignement de grande qualité.
                  L’école fait preuve d’une grande réactivité et de disponibilité. Elle apporte soutien, conseils selon les besoins.
              </p>
              <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
              <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
              <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
          </div>
      </div>
  </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
    }

</style>