{% load static %}
</br>
<div class="container">
    <div class="item">
        <div class="gallery2">
            <div class="desc" style="background-color: white">
                <img style="width: 110px; height: 95px;" src="{% static "IMAGE_TO_UPLOAD/reseaux sociaux/facebook.png" %}">
                <a href="#"><h3>Facebook</h3></a>
                <p>
                    Très bon sits,  je vous le recommande
                </p>
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
            </div>
        </div>
    </div>

    <div class="item">
        <div class="gallery2">
            <div class="desc" style="background-color: white">
                <img style="width: 110px; height: 95px;" src="{% static "IMAGE_TO_UPLOAD/reseaux sociaux/instagram.png" %}">
                <a href="#"><h3>Instagram</h3></a>
                <p>
                    Très bon sits,  je vous le recommande
                </p>
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
            </div>
        </div>
    </div>

    <div class="item">
        <div class="gallery2">
            <div class="desc" style="background-color: white">
                <img style="width: 110px; height: 95px;" src="{% static "IMAGE_TO_UPLOAD/reseaux sociaux/facebook.png" %}">
                <a href="facbook.com"><h3>Facebook</h3></a>
                <p>
                    Très bon sits,  je vous le recommande
                </p>
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
                <img style="width: 40px;" src="{% static "note/FA_star.svg.png" %}">
            </div>
        </div>
    </div>
</div>


<style>
    .container {
        display: flex;
        justify-content: space-between;
    }
</style>