<!DOCTYPE html>
<html>
    <body>
    {% load static %}
        <div>
             <img style="display: block; margin-right: auto; margin-left: auto" width="170px;" src="/Users/mamadousarambounou/Desktop/projet/DJAAGOU_SCAN/app_djaagou_scan/static/image/my_logo_cv.PNG">
        </div>

        <div style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;;
         width: 80%; display: block; margin-left: auto; margin-right: auto";>
            <div style="margin-left: 5%; margin-right: 5%; margin-top:5% ;padding-bottom: 5%; padding-top: 5%">
                <p>Bienvenu !</p>
            </br>
            <p>
                Pour bénéficier de toutes les fonctionnalités de <b>MY QR-CODE SOLUTIONS</b>,
                veuillez saisir le code ci-dessous dans le champs prévus de la page de validation de
                votre email :
            </p>
            <div style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                  ; display: block; margin-right: auto; margin-left: auto; background-color: #45b8d3" >
                <h1 style="text-align: center">btirop6g</h1>
            </div>
            <p>
                Ce code est valable 10 minutes. Au-delà, vous pouvez demander le renvoi
                d'un code par email directement depuis la page vous demandant de saisir le code ou depuis
                la rubrique Mon Compte de l'application.</p>

            <br/>

            <p>L'équipe MY QR-CODE SOLUTIONS</p>

            </div>


        </div>
    </body>
</html>