<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modifier mot de passe</title>
        {% load static %}
    </head>

    <header>
        {% include '00_Layout/header.html' %}
    </header>
    <body style="background-color: rgba(239,239,239,0.84)">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100" class="container py-5 h-100" style="padding-top: 10%; padding-bottom: 5%">
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding-left: 5%; padding-right: 5%; padding-bottom: 5%; padding-top: 2%; background-color: white">
                    <h4 style="text-align: center">Modifier confidentialité</h4>
                    </br>
                    <img src="{%static "image/authentification/update_user.png" %}" class="img-fluid" alt="Phone image" style="width: 70%; display: block; margin-left: auto; margin-right: auto;">
                        {% include '07_Message/messages.html' %}
                    <form action="#" method="POST" style="padding-top: 10%"> {% csrf_token %}

                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control" name="new_lastname" placeholder="Entrez votre nouveau nom" value="{{ user.last_name }}" required>
                        </div>

                        <div class="form-group">
                            <label>Prenom</label>
                            <input type="text" class="form-control" name="new_firstname" placeholder="Entrez votre nouveau prenom"  value="{{ user.first_name }}" required>
                        </div>

                        </br>

                        {% include "07_Message/message_info.html" %}

                        <button type="submit" style="width: 100%" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

{% include '00_Layout/footer2.html' %}